.footer {
    padding-top: 115px;
    padding-bottom: 105px;
    background-color: #F2F8FC;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-size: 25px;
        text-transform: uppercase;
        color: $primary;
        font-weight: 700;
        margin-bottom: 27px;
    }

    &__text {
        font-size: 15px;
        color: $primary;
        margin-bottom: 50px;
        line-height: 21px;
    }

    &__address {
        display: flex;
        align-items: center;
        font-size: 15px;
        color: $primary;
        margin-bottom: 22px;
    }

    &__ico {
        margin-right: 25px;
    }

    &__info {
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 22px;
    }

    &__email {
        font-size: 15px;
        color: $primary;
        text-decoration: none;
        padding-bottom: 9px;
        border-bottom: 1px solid #000;
    }

    &__tel {
        font-size: 15px;
        color: $primary;
        text-decoration: none;
        padding-top: 9px;
    }

    &__socials {
        display: flex;
    }

    &__social {
        margin-right: 18px;
        width: 15px;
    }

    &__title {
        font-size: 25px;
        color: $primary;
        font-weight: 700;
        margin-bottom: 34px;
    }

    &__form {
        position: relative;
        margin-bottom: 70px;

        label {
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 15px;
            font-weight: 600;
            color: $primary;
            cursor: pointer;
        }
    }

    &__input {
        width: 100%;
        padding: 17px 24px;
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0 0 5x rdba(#000, .07);
    }

    &__navi {
        display: flex;
    }

    &__nav {
        display: inline-flex;
        flex-direction: column;
        margin-right: 88px;

        &:last-child {
            margin-right: 0;
        }

        &--title {
            font-size: 20px;
            color: $primary;
            font-weight: 600;
            margin-bottom: 35px;
        }
    }

    &__list {
        display: inline-flex;
        flex-direction: column;
    }

    &__link {
        margin: 0;
        margin-bottom: 27px;
        font-size: 15px;
        color: $primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}