.header {
    padding: 20px 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    left: 0;
    top: 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        color: $primary;
        font-weight: 700;
        font-size: 28px;
    }

    &__panels {
        display: flex;
        img {
            margin-right: 50px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}