.tachen {
    margin-top: 120px;
    background: url(/img/tachen.png) 0 0 no-repeat;
    background-size: cover;
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
    
    &__collection {
        padding-top: 434px;
        padding-bottom: 130px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 500;
        color: $primary;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 80px;
        font-weight: 700;
        color: $primary;
        margin-bottom: 38px;
    }

    &__btn {
        padding: 11px 25px;
        background-color: $primary;
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        transition: color .2s linear, background-color .2s linear;

        &:hover {
            background-color: $white;
            color: $primary;
        }
    }
}