.wrapper {
    background: linear-gradient(rgba(0,0,0, .35), rgba(0,0,0, .35)), url("img/intro.png") center bottom no-repeat;
    background-size: cover;
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-top: 68px;
}
